<div class="container--small">
  <ul class="list--people">
    <li class="list--people__item" routerLink="details">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
  </ul>
</div>