<div class="container--small">
  <button id="adding-button" class="btn btn--primary" routerLink="add">Add</button>
  <ul class="list--people">
    <li class="list--people__item" routerLink="details">
      Potapov Kirill
      <div class="person-controls">
        <button class="btn btn--warning btn--sm person-controls__item" routerLink="edit">Edit</button>
        <button class="btn btn--danger btn--sm  person-controls__item">Delete</button>
      </div>
    </li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
    <li class="list--people__item">Potapov Kirill</li>
  </ul>
</div>