<div class="container--small">
  <div class="card">
    <div class="card__title">Details by {{person.name}} {{person.lastName}}</div>
    <div class="card__body">
      <div class="data-field">Id: {{person.id}}</div>
      <div class="data-field">Name: {{person.name}}</div>
      <div class="data-field">Last name: {{person.lastName}}</div>
      <div class="data-field">Sex: {{sexToString[person.sex]}}</div>
      <div class="data-field" *ngIf="person.birthDate">Birth date: {{person.birthDate | date: 'longDate'}}</div>
      <button class="btn btn--secondary" (click)="goBack()">Back</button>
    </div>
  </div>
</div>