<div class="container--small">
  <div class="card">
    <div class="card__title">Creating new person</div>
    <div class="card__body">
        <div class="form">
          <input class="form__item" type="text" placeholder="Name">
          <input class="form__item" type="text" placeholder="Second name">
          <div class="form__item">
            <div class="form__check">
              <input id="male" type="radio" name="sex" checked>
              <label class="form__check__label" for="male">Male</label>
            </div>
            <div class="form__check">
              <input id="female" type="radio" name="sex">
              <label class="form__check__label" for="female">Female</label>
            </div>
          </div>
          <div class="form__item">
            <label for="birthdate" class="form__item__label">Birthdate:</label>
            <input id="birthdate" class="form__item__input" type="date" placeholder="Birthdate">
          </div>
          <div class="form__submit">
            <button class="btn btn--secondary">Cancel</button>
            <button class="btn btn--primary">Add</button>
          </div>
        </div>
    </div>
  </div>
</div>